html{
    background-color:black;
    
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat;
    margin:0;
}

main{
    width:100%;
    height:100%;
    backdrop-filter: blur(0px);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    transition: backdrop-filter 1s ease-in-out;
}

a{
    font-size:30px;
    color:white;
}

a:hover{
    color: rgb(8, 49, 8);
}

div{
    background-color: rgba(33, 33, 33, 0.2);
    backdrop-filter: 0px;
    padding: 10px;
    border-radius: 20px;
    width:70%;
    font-size:30px;
    overflow: scroll;
    height: 80%;
    color: white;   
}

footer{
    position:relative; 
    bottom:-30px; 
    font-size:20px; 
    font-weight:200; 
    background-color:rgba(30,30,30,0.5); 
    width:50vw;
    display: flex;
    justify-content: center;
    font-weight: bold;
    color:white;
}

